/** TABLA DE CONTENIDOS
 *
 * FRAMEWORKS
 * animate.css..................Colección de animaciones.
 * normalize.styl...............Rendirizar elementos de forma consistente
 * owl-carousel.styl............Galeria de imagenes
 *
 * BASE
 * _fonts.......................Configuracion de la fuente principal.
 * _base........................Estilos base en los elementos de la pagina.
 * _base_mixins.................Algunos mixins utiles.
 * _base_variables..............Declaracion de variables globales.
 * _grid........................Sistema de grillas responsive
 *
 * SECCIONES
 * - Home
 * .about.......................Contenedor de la primera seccion de la pagina
 *
 * - Comun
 * 
 *
 * COMPONENTES
 * .main-nav....................Navegacion principal de la pagina
 * .header-main-video...........Contenedor del video que se muestra en el header
 * 
 */

// - Frameworks imports
// @import 'frameworks/animate.css'
@import 'frameworks/normalize'
@import 'frameworks/owl-carousel'

// - Base imports
// @import 'base/_fonts'
@import 'base/_base'
// @import 'base/_base_mixins'
// @import 'base/_base_variables'
@import 'base/_grid'

// - Components imports
@import 'componentes/main-nav'
@import 'componentes/header-main-video'



// Tus estilos van aqui
.page-content {
    height 5000px
    background-color white
}



// -------------------
// #ABOUT-SECTION
// -------------------

.about {
    background white
    .about__title {
        color $medium-black
        margin-bottom 5px
    }
    .about__subtitle {
        color $sun-flower
    }
    .about__description {
        color $medium-black
        margin-top 20px
        text-align center
        @media screen and (min-width: 40em) {
            margin-top 30px
        }
    }
}



// -------------------
// #GALERIA-SECTION
// -------------------

.galeria {
    background-color lighten($silver, 70%)
    max-width 75rem
    margin-left auto
    margin-right auto
    padding 0 0 10px 0
    #owl-gallery {
        .item {
            position relative
            img {
                display block
                height auto
                object-fit cover
            }
            @media screen and (min-width: 40em) {
                height 60vh
                img {
                    position absolute
                    top 50%
                    left 50%
                    width 100%
                    transform translate(-50%, -50%)
                }
            }
        }
    }
}
















