/** TABLA DE CONTENIDOS
 *
 * FRAMEWORKS
 * animate.css..................Colección de animaciones.
 * normalize.styl...............Rendirizar elementos de forma consistente
 * owl-carousel.styl............Galeria de imagenes
 *
 * BASE
 * _fonts.......................Configuracion de la fuente principal.
 * _base........................Estilos base en los elementos de la pagina.
 * _base_mixins.................Algunos mixins utiles.
 * _base_variables..............Declaracion de variables globales.
 * _grid........................Sistema de grillas responsive
 *
 * SECCIONES
 * - Home
 * .about.......................Seccion que contiene la informacion general de la empresa
 * .productos...................Seccion que contiene el catalogo de productos
 * .contacto....................Seccion que contiene medios de contacto y formulario
 * .page-footer.................Main footer de la pagina web
 *
 * - Comun
 * 
 *
 * COMPONENTES
 * .main-nav....................Navegacion principal de la pagina
 * .header-main-video...........Contenedor del video que se muestra en el header
 * .producto....................Componente para el layout del producto individual
 * .contact-form................Formulario de la seccion de contacto
 * .cotizador...................Elemento que reune los productos a cotizar
 * 
 */

// - Frameworks imports
@import 'frameworks/animate.css'
@import 'frameworks/normalize'
@import 'frameworks/owl-carousel'

// - Base imports
// @import 'base/_fonts'
@import 'base/_base'
@import 'base/_base_mixins'
@import 'base/_base_variables'
@import 'base/_grid'

// - Components imports
@import 'componentes/main-nav'
@import 'componentes/header-main-video'
@import 'componentes/producto_3'
@import 'componentes/contact-form'
@import 'componentes/cotizador'



// Tus estilos van aqui
.page-content {
    background-color white
    max-width 75rem
    margin-left auto
    margin-right auto
}



// -------------------
// #ABOUT-SECTION
// -------------------

.empresa {
    background white
    padding-right 0
    padding-left 0
    padding-bottom 0
    h1, p {
        color $medium-black
    }
    .about {
        padding 0 50px 80px 50px
        .about__title {
            margin-bottom 5px
        }
        .about__description {
            color $medium-black
            margin-top 20px
            text-align center
            @media screen and (min-width: 40em) {
                margin-top 30px
            }
        }
    }
    .facts {
        background-color lighten($silver, 80%)
        .facts__item {
            display flex
            .facts__item__desc,
            .facts__item__img {
                width 50%
            }
            .facts__item__desc {
                display flex
                align-items center
                min-height 300px
                padding 30px
                text-align center
            }
        }
    }
}



// -------------------
// #GALERIA-SECTION
// -------------------

.galeria {
    background-color lighten($silver, 70%)
    max-width 75rem
    margin-left auto
    margin-right auto
    padding 0 0 10px 0
    #owl-gallery {
        .item {
            position relative
            img {
                display block
                height auto
            }
            @media screen and (min-width: 40em) {
                min-height 450px
                height 60vh
                img {
                    position absolute
                    top 50%
                    left 50%
                    width 100%
                    transform translate(-50%, -50%)
                }
            }
        }
    }
}



// -------------------
// #PRODUCTOS-SECTION
// -------------------

.productos {
    background-color $sun-flower
    .productos__title, .productos__descripcion {
        text-align center
    }
    .productos__title {
        color black
    }
    .productos__descripcion {
        color $medium-black
    }
    .productos-container {
        margin-top 20px
    }
    @media only screen and (min-width: 768px) {
        padding 50px 10px
        .productos-container {
            margin-top 40px
        }
    }
}



// -------------------
// #CONTACTO-SECTION
// -------------------

.contacto {
    .contacto__title, .contacto__descripcion, .contacto__medios {
        color $medium-black
        text-align center
    }
    .contact-form {
        margin auto
        margin-top 20px
        @media screen and (min-width: 40em) {
            margin-top 50px
        }
    }
    .contacto__medios {
        margin-top 40px
        .medios__item-main-title {
            color $sun-flower
            font-weight 700
            margin-bottom 10px
        }
        .medios__item-title {
            font-weight 700
        }
        .medios__item-descripcion {
            margin-bottom 10px
        }
        @media screen and (min-width: 40em) {
            margin-top 60px
            .medios__item-main-title {
                margin-bottom 20px
            }
            .medios__item-descripcion {
                margin-bottom 30px
            }
        }
    }
}



// -------------------
// #PAGE-FOOTER
// -------------------

.page-footer {
    background darken($medium-black, 30%) url(img/black_lozenge_@2X.png)
    color white
    display flex
    flex-wrap wrap
    justify-content center
    align-items center
    max-width 75rem
    margin-left auto
    margin-right auto
    padding 20px 10px
    .page-footer__logo {
        margin-right 20px
        max-width 80px
    }
    .page-footer__social-media {
        text-align center
        .secondary-title {
            font-weight 400
            margin-bottom 10px
        }
        img {
            padding 0 5px
            max-width 50px
        }
    }
    .small-text {
        margin-top 20px
        text-align center
        width 100%
    }
    .referenceLink {
        color $sun-flower
        text-decoration underline
    }
}









