/** TABLA DE CONTENIDOS
 *
 * FRAMEWORKS
 * animate.css..................Colección de animaciones.
 * normalize.styl...............Rendirizar elementos de forma consistente
 *
 * BASE
 * _fonts.......................Configuracion de la fuente principal.
 * _base........................Estilos base en los elementos de la pagina.
 * _base_mixins.................Algunos mixins utiles.
 * _base_variables..............Declaracion de variables globales.
 * _grid........................Sistema de grillas responsive
 *
 * SECCIONES
 * - Home
 * 
 *
 * - Comun
 * 
 *
 * COMPONENTES
 * .main-nav....................Navegacion principal de la pagina
 * .header-main-video...........Contenedor del video que se muestra en el header
 * 
 */

// - Frameworks imports
// @import 'frameworks/animate.css'
@import 'frameworks/normalize'

// - Base imports
// @import 'base/_fonts'
@import 'base/_base'
// @import 'base/_base_mixins'
// @import 'base/_base_variables'
@import 'base/_grid'

// - Components imports
@import 'componentes/main-nav'
@import 'componentes/header-main-video'

// Tus estilos van aqui
.page-content {
    height 5000px
    background-color red
}



















