// - Variables imports
@import 'base/_base_variables'



// -------------------
// #ELEMENTS-BASE-STYLES
// -------------------

html {
  font-size 100%
  box-sizing border-box
}

*,
*:before,
*:after {
  box-sizing inherit 
}

body {
  padding 0
  margin 0
  font-family "Open Sans", Helvetica, Roboto, Arial, sans-serif
  font-weight normal
  font-size 16px
  line-height 1.5
  color #0a0a0a
  background #fefefe
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale 
  -webkit-text-size-adjust 100% 
}

img {
  max-width 100%
  height auto
  -ms-interpolation-mode bicubic
  display inline-block
  vertical-align middle 
}

a, a:visited, a:hover, a:active {
  color inherit
  text-decoration none
}

h1, h2, h3, h4, h5, h6, p{
    margin 0
    padding 0
    border 0
    font-size 100%
}