// -------------------
// #COLORES BASE
// -------------------

// - Frios
$aqua = #7FDBFF
$blue = #0074D9
$navy = #001F3F
$teal = #39CCCC
$green = #2ECC40
$olive = #3D9970
$lime = #01FF70

// - Calidos
$yellow = #FFDC00
$orange = #FF851B
$red = #FF4136
$fuchsia = #F012BE
$purple = #B10DC9
$maroon = #85144B
$sun-flower = #F1C40F

// - Escala de grises
$white = #fff
$silver = #ddd
$gray = #aaa
$clouds = #ECF0F1
$asbestos = #7F8C8D
$medium-black = #424242



// -------------------
// #NAVEGACION-PRINCIPAL
// -------------------

// - Colores
$main-nav-bg-color = lighten($clouds, 85%)
$menu-item-lines-color = $sun-flower
$menu-item-color = #A4A4A4
$menu-item-current-color = lighten($menu-item-lines-color, 20%)

// - general
$num-menu-items = 3 // - numero de items que contiene el menu de navegacion
$menu-item-width = 120px

// - responsive fonts
$main-nav-menu-link-range = 0.7rem 1.05rem
$main-nav-title-range = 1rem 2rem
    


// -------------------
// #GENERAL RESPONSIVE FONT VARIABLES
// -------------------

// - rangos de pantalla
$min-screen-size = 320px
$max-screen-size = 1280px

// max y min para titulos
$main-title-range = 1.2rem 1.6rem
$secondary-title-range = 1rem 1.3rem
$terciary-title-range = 0.9rem 1.1rem
$main-subtitle-range = 0.7rem 1rem

// max y min para textos normales
$main-description-range = 0.9rem 1.2rem
$secondary-description-range = 0.9rem 1rem
$small-text-range = 0.7rem 1rem