// - Variables imports
@import 'base/_base_variables'



// -------------------
// #ELEMENTS-BASE-STYLES
// -------------------

html {
  font-size 100%
  box-sizing border-box
}

*,
*:before,
*:after {
  box-sizing inherit 
}

body {
  padding 0
  margin 0
  font-family "Open Sans", Helvetica, Roboto, Arial, sans-serif
  font-weight normal
  font-size 16px
  line-height 1.5
  color #0a0a0a
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale 
  -webkit-text-size-adjust 100% 
}

img {
  max-width 100%
  height auto
  -ms-interpolation-mode bicubic
  display inline-block
  vertical-align middle 
}

a, a:visited, a:hover, a:active {
  color inherit
  text-decoration none
}

h1, h2, h3, h4, h5, h6, p{
  margin 0
  padding 0
  border 0
  font-size 100%
}

h1 {
  font-size responsive $main-title-range
  font-range $min-screen-size $max-screen-size
}

h2 {
  font-size responsive $secondary-title-range
  font-range $min-screen-size $max-screen-size
}

section {
  padding 50px 0
  @media only screen and (min-width: 768px) {
      padding 80px 50px
  }
}



// -------------------
// #ESTILOS GENERICOS PARA TEXTOS
// -------------------

h1.main-title, h2.secondary-title, h3.terciary-titlem, p.main-subtitle {
  text-align center
  width 100%
}

h1.main-title {
  margin-bottom 1rem
}

p.main-subtitle {
  font-size responsive $main-subtitle-range
  font-range $min-screen-size $max-screen-size
  text-transform uppercase
  line-height 1.48
}

p.main-description {
  font-size responsive $main-description-range
  font-range $min-screen-size $max-screen-size
  line-height 1.48
}



