// -------------------
// #HEADER-VIDEO
// -------------------

.header-video {
    background-color black
    min-height 450px
    height 70vh
    position relative
    .overlayed-bg {
        background-color rgba(black,.2)
    }
    .header-video__txt-container {
        position absolute
        bottom 30%
        left 0
        padding 20px
        width 100%
        z-index 2
        @media screen and (min-width: 40em) {
            padding 20px 20px 20px 30px
            width 50%
        }
        .header-video__txt-container__title,
        .header-video__txt-container__description {
            font-family 'Kepler-Std'
            color white
            text-align left
            margin 0
        }
        .header-video__txt-container__title {
            font-size responsive 1.5rem 3.5rem
            font-range 320px 1280px
            line-height normal
            width auto
        }
        .header-video__txt-container__description {
            font-size responsive 1rem 1.5rem
            font-range 320px 1280px
            padding 5px 0
        }
    }
    .header-video__bg {
        height 100%
        width 100%
        padding 0
        position relative
        overflow hidden
    }
    .header-video__video, img {
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
    }
    .header-video__video {
        display block
        background-position center center
        background-size 100% 100%
        object-fit cover
    }
    img {
        height 100%
        max-width none
        @media only screen and (min-device-width : 320px) and (orientation: landscape) {
            height auto
            width 120%
        }
        @media screen and (min-width: 40em) {
            height auto
            width 100%
        }
    }
    .header-video__bottom-shape {
        position absolute
        bottom 0px
        box-sizing content-box
        border-bottom 20px solid $sun-flower
        height 0
        width calc(50% - 15px)
        z-index 3
    }
    .header-video__bottom-shape--left {
        left 0
        border-right 15px solid transparent
    }
    .header-video__bottom-shape--right {
        right 0
        border-left 15px solid transparent
    }
}