// -------------------
// #HEADER-VIDEO
// -------------------

.header-video {
    background-color black
    min-height 450px
    height 60vh
    position relative
    .header-video__bg {
        height 100%
        width 100%
        padding 0
        position relative
        overflow hidden
    }
    .header-video__video, img {
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
    }
    .header-video__video {
        display block
        background-position center center
        background-size 100% 100%
        object-fit cover
    }
    img {
        height 100%
        max-width none
        @media only screen and (min-device-width : 320px) and (orientation: landscape) {
            height auto
            width 120%
        }
        @media screen and (min-width: 40em) {
            height auto
            width 100%
        }
    }
    .header-video__bottom-shape {
        position absolute
        bottom 0px
        box-sizing content-box
        border-bottom 20px solid white
        height 0
        width calc(50% - 15px)
    }
    .header-video__bottom-shape--left {
        left 0
        border-right 15px solid transparent
    }
    .header-video__bottom-shape--right {
        right 0
        border-left 15px solid transparent
    }
}