// - Base imports
@import 'base/_base_mixins'
@import 'base/_base_variables'



// -------------------
// #GALERIA-SECTION
// -------------------

.producto {
    background-color white
    box-shadow 0 3px 2px 0px rgba(black,.2)
    area()
}